<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to railsbook, <%= @user.full_name %></h1>
    <p>
      You have successfully registered your account.
    </p>
    <%= @url %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>