<% @users.each do |user| %>
  <p><%=user.first_name%> <%=user.last_name%> <%= link_to 'Add Friend', friendships_path(friend_id: user.id), remote: true, method: :post unless user.friends?(current_user) || user == current_user %></p> 
<% end %>