<div class="row justify-content-center">
  <div class="col-6">
  <hr>
    <% @posts.each do |post| %>
    <div class="card border-primary mb-3" style="width: 100%;">
    <div class="card-header">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer"><small><%=post.created_at.strftime("Posted on %m/%d/%Y at %I:%M%p")%></small></footer>
      </blockquote>
    </div>
      <%= image_tag post.post_image.variant(resize: "150x150"), class: 'card-img-top' if post.post_image.attached? %>
      <div class="card-body">
        <p class="card-text"><%= post.content %></p>
      </div>
      <div class="card-footer text-muted">
        <% if post.liked? %>
          <i class="far fa-thumbs-up liked"></i><span class="liked">Like</span>
        <% else %>
          <i class="far fa-thumbs-up"></i><%= link_to "Like", like_path(post), class: "not-liked", remote: true, method: :post %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
