/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";


 .confirm-button, .confirm-button:hover {
    display: block;
    float: right;
    background: #1C68AB;
    align-self: right;
    font-size: 14px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
 }

 .alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .alert-notice hr {
    border-top-color: #a6e1ec;
  }
  .alert-notice .alert-link {
    color: #245269;
  }


  .alert-alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  .alert-alert hr {
    border-top-color: #ffe8a1;
  }
  
  .alert-alert .alert-link {
    color: #533f03;
  }

