/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 .not-liked:link, .not-liked:active, .not-liked:visited, .not-liked:hover {
  text-decoration: none !important;
  color: #898A8B;
  font-weight: bold;
 }

 .liked {
  color: #1C69AB;
  font-weight: bold;
 }


 .post-box {
  min-width: 100%;
  height: 75px !important;
 }

 
 .pending-request {
  display: inline-block;
  background: #1C68AB;
  align-self: right;
  font-size: 14px;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}


 .share-button {
  background: #1C68AB;
  align-self: right;
  font-size: 14px;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
 }

 .confirm-button, .confirm-button:hover {
    display: block;
    float: right;
    background: #1C68AB;
    align-self: right;
    font-size: 14px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
 }

 .add-button, .add-button:hover {
  display: inline-block;
  background: #1C68AB;
  align-self: right;
  font-size: 14px;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

 .alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .alert-notice hr {
    border-top-color: #a6e1ec;
  }
  .alert-notice .alert-link {
    color: #245269;
  }


  .alert-alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  .alert-alert hr {
    border-top-color: #ffe8a1;
  }
  
  .alert-alert .alert-link {
    color: #533f03;
  }

  .nav-photo {
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid white;
  }

  .search-photo {
    display: inline-block;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border: 1px solid black;
  }

  // Font Awesome Glyph CSS
  .far[data-count]{
    position:relative;
  }
  
  .far[data-count]:after{
      position: absolute;
      right: -0.75em;
      top: -.75em;
      content: attr(data-count);
      padding: .5em;
      border-radius: 15em;
      line-height: .9em;
      color: white;
      background: rgba(255,0,0,.65);
      text-align: center;
      min-width: 2em;
      font: bold .4em sans-serif;
  }

  .comment-field {
    border-radius: 10px;
    border: 1px gray solid;
  }

